.about {
  width: 640px;
  text-align: center;
  color: var(--black);
}

.about__title {
  font-size: 38px;
  line-height: 48px;
  font-weight: 500;
  font-family: 'Inter', sans-serif;
  margin-bottom: 32px;
}

.about__text {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  font-family: 'Inter', sans-serif;

}