.wrapper {
  display: flex;
  justify-content: center;
}

.accordion {
  width: 600px;
  display: flex;
  gap: 8px;
  flex-direction: column;
}

.accordion__item {
  position: relative;
  border: 1px solid var(--grey-3);
  border-radius: 8px;
}

.accordion:last-child {
  margin-bottom: 0;
}

.accordion__summary {
  display: block;
  position:relative;
  color: var(--black);
  font-size: 16px;
  line-height: 24px;
  cursor: pointer;
  padding: 24px 32px;
  font-family: 'Inter', sans-serif;
}

.accordion__summary::before {
  content: "";
  width: 12px;
  height: 12px;
  border-top:  2px solid var(--black);
  border-right:  2px solid var(--black);
  transform: rotate(-45deg);
  position: absolute;
  top: 32px;
  right: 32px;
}

.accordion__item[open] > .accordion__summary::before {
  content: "";
  transform: rotate(135deg);
}

.accordion__item[open] .accordion__summary {
  padding-bottom: 16px;
}

.accordion__content {
  margin: 0;
  padding: 32px;
  font-family: 'Inter', sans-serif;;
}

.accordion__item[open] .accordion__content {
  padding-top: 0;
}