.skeleton {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 24px;
  box-sizing: border-box;
  border: 1px solid var(--grey-3);
  border-radius: 8px;
}

.skeleton__header {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 24px;
}

.skeleton__wrapper {
  flex-grow: 2;
}
.skeleton__avatar {
  width: 64px;
  height: 64px;
  margin-right: 16px;
  border-radius: 50%;
  background-color: var(--grey-2);
}

.skeleton__line {
  display: block;
  height: 20px;
  background-color: var(--grey-2);
  margin: 8px 0 0 0;
}

.skeleton__line_title {
  width: 40%;
}

.skeleton__line_subtitle {
  width: 65%;
}

.skeleton__content-box {
  width: 100%;
}

.skeleton__line_content {
  width: 100%;
}

.skeleton__line_content:first-child {
  margin: 0;
}