.preview {
  display: grid;
  grid-template: 367px 367px / 350px 350px 350px;
  grid-gap: 30px;
  color: var(--black);
}

.preview__item {
  display: flex;
  flex-direction: column;
  width: 350px;
  padding-bottom: 32px;
  box-sizing: border-box;
  background-color: var(--white);
  border-radius: 12px;
  text-align: center;
}

.preview__item-header {
  order: 2;
}

.preview__component-box {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
}

.preview__item-title {
  margin: 0 0 8px 0;
  font-size: 21px;
  line-height: 24px;
  font-weight: 500;
}

.preview__item-sub-title {
  font-size: 16px;
  line-height: 18.75px;
}