.histogram {
  width: 100%;
  position: relative;
  font-size: 16px;
  padding: 1em 1.5em;
  border: 1px solid var(--grey-3);
  border-radius: 8px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  text-align: left;
}

.histogram__header {
  width: 100%;
  margin-bottom: 2.5em;
  color: var(--black);
  font-family: 'Inter', sans-serif;
}

.histogram__title {
  display: block;
  margin-bottom: 0.375em;
  font-size: 1em;
  line-height: 1.5em;
}

.histogram__orders {
  display: block;
  font-size: 1.25em;
  line-height: 1.625em;
}

.histogram__all {
  position: absolute;
  top: 19px;
  right: 24px;
  color: var(--blue);
  text-decoration: none;
  font-size: 1em;
  line-height: 1.5em;
}

.histogram__items {
  display: flex;
  gap: 1px;
  align-items: flex-end;
  height: 3.125em;
  min-height: 3.125em;
  width: 100%;
}

.histogram__item {
  flex-grow: 1;
  background-color: var(--blue);
}

.histogram_preview {
  width: 300px;
  min-height: 157px;
  font-size: 12px;
}

